# {{ ansible_managed }}
server {
  listen 127.0.0.1:{{ nginx_default_server_port }};
  server_name localhost;
  root /var/www/localhost;
  location /nginx_status {
    stub_status on;
    access_log off;
    allow 127.0.0.1;
    deny all;
  }
{% if munin_phpfpm is defined and munin_phpfpm %}
{% if munin_phpfpm_socket is defined and munin_phpfpm_socket %}
  location ~ ^/(status|ping)$ {
    include fastcgi.conf;
    fastcgi_pass unix:{{ munin_phpfpm_socket }};
    allow stats_collector.localdomain;
    allow watchdog.localdomain;
    access_log off;
    allow 127.0.0.1;
    deny all;
  }
{% endif %}
{% if munin_opcache is defined and munin_opcache %}
  location ~ \.php$ {
    include fastcgi.conf;
    fastcgi_intercept_errors on;
    fastcgi_pass unix:{{ munin_phpfpm_socket }};
    access_log off;
    allow 127.0.0.1;
    deny all;
  }
{% endif %}
{% endif %}
}
# vim: syntax=nginx
