# {{ ansible_managed }}

user www-data;
worker_processes auto;
pid /run/nginx.pid;
include /etc/nginx/modules-enabled/*.conf;

events {
        worker_connections 768;
        # multi_accept on;
}

http {

    ##
    # Basic Settings
    ##

    sendfile on;
    tcp_nopush on;
    tcp_nodelay on;
    keepalive_timeout 65;
    types_hash_max_size 2048;
    # server_tokens off;

    # server_names_hash_bucket_size 64;
    # server_name_in_redirect off;

    include /etc/nginx/mime.types;
    default_type application/octet-stream;

{% if nginx_ssl is defined and nginx_ssl | bool %}
    ##
    # SSL Settings
    ##

    ssl_protocols {{ nginx_ssl_protocols | join(' ') }};
{%     if "TLSv1.2" in nginx_ssl_protocols and "TLSv1.3" in nginx_ssl_protocols %}
    ssl_ciphers {{ nginx_cipher_suites_tls1_3 }}:{{ nginx_cipher_suites_tls1_2 }};
{%     elif "TLSv1.3" in nginx_ssl_protocols %}
    ssl_ciphers {{ nginx_cipher_suites_tls1_3 }};
{%     endif %}
    ssl_session_timeout 1d;
    ssl_session_cache shared:MozSSL:10m;  # about 40000 sessions
    ssl_session_tickets off;
    ssl_prefer_server_ciphers off;
    add_header Strict-Transport-Security "max-age=63072000" always;
    ssl_stapling on;
    ssl_stapling_verify on;
{% endif %}

    ##
    # Logging Settings
    ##

    access_log /var/log/nginx/access.log;
    error_log /var/log/nginx/error.log;

    ##
    # Gzip Settings
    ##

    gzip on;

    # gzip_vary on;
    # gzip_proxied any;
    # gzip_comp_level 6;
    # gzip_buffers 16 8k;
    # gzip_http_version 1.1;
    # gzip_types text/plain text/css application/json application/javascript text/xml application/xml application/xml+rss text/javascript;

    ##
    # Virtual Host Configs
    ##

    include /etc/nginx/conf.d/*.conf;
    include /etc/nginx/sites-enabled/*;
}


#mail {
#    # See sample authentication script at:
#    # http://wiki.nginx.org/ImapAuthenticateWithApachePhpScript
#
#    # auth_http localhost/auth.php;
#    # pop3_capabilities "TOP" "USER";
#    # imap_capabilities "IMAP4rev1" "UIDPLUS";
#
#    server {
#            listen     localhost:110;
#            protocol   pop3;
#            proxy      on;
#    }
#
#    server {
#            listen     localhost:143;
#            protocol   imap;
#            proxy      on;
#    }
#}

# vim: syntax=nginx{# vim: syntax=jinja2 #}
